<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= blog.title %></title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/blog.css">
</head>
<body>
    <div class="body">
        <div class="navbar">
            <h1><a href="/home">Blogger</a></h1>
                <div class="nav-buttons1">
                    <a href="/home">Back to All Blogs..</a>
                </div>
            </div>    
        </div>
        <div class="blog-container">
            <div class="blog-image">
                <% if(blog.image){%>
                <img src="../upload/<%= blog.image %>" alt="<%= blog.title %>">
            <% }  %>
                <div class="title">
                    <h2><%= blog.title %></h2>
                    <p class="blog-desc">Description:<%= blog.description%></p>
                </div>
            </div>
            <div class="blog-content">
                
                <p class="content"><%= blog.content %></p>
            </div>
            
        </div>
        <div class="b2home">
            <a href="/home">Back to Home Page</a>
        </div>
        <footer class="footer">
            <div class="container1">
                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank">Facebook</a>
                    <a href="https://twitter.com" target="_blank">Twitter</a>
                    <a href="https://instagram.com" target="_blank">Instagram</a>
                    <a href="https://linkedin.com" target="_blank">LinkedIn</a>
                </div>
                <div class="contact-info">
                    <p>Email: shivamssharma398@gmail.com</p>
                    <p>Phone: (123) 456-7890</p>
                </div>
                <div class="copyright">
                    <p>&copy; Blogger. All rights reserved.</p>
                </div>
            </div>
        </footer>

       
    </div>
</body>
</html>